body {
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      background-color: #000000;
      color: #ffffff;
    }
    header {
      background: #000000;
      padding: 20px 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 1000;
  }


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #000000;
  color: #ffffff;
  position: relative;
}

.logo img {
  margin: 0;
  height: 70px;
  width: 100px;
  object-fit: cover;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 10px;
  }

  .menu-toggle {
    display: block;
  }

  .nav-links.open {
    display: flex;
  }
}



    header nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #ffffff;
      font-weight: 600;
    }




    
  .services-section {
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: #000000;
  text-align: center;
  color: #ffffff;
}

.services-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  
}

.service-card {
  flex: 0 0 calc(50% - 20px);
  background-color: #222222;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255,255,255,0.1);
  border-radius: 10px;
  color: #ffffff;
}

.service-card img {
  width: 75%;
  height: fit-content;
  object-fit: cover;
  border-radius: 0;
  margin: 15px 0;
}

.service-card h3 {
  margin-top: 0;
  font-size: 28px;
  color: #ffffff;
}

.service-card p {
  font-size: 16px;
  color: #ffffff;
  font-size: 24px;
}

@media (max-width: 768px) {
  .service-card {
    flex: 0 0 100%;
  }
}




    
    footer {
      background: #000000;
      padding: 50px;
      text-align: center;
    }
    footer p {
      margin: 10px 0;
      font-size: 14px;
      color: #cccccc;
    }